<div id="<%= dom_id post %>">
  <%#= image_tag post.cover.url %>
  <%# <br> %>
  <%#= image_tag post.cover.thumb.url %>
  <%# <br> %>
  <%= image_tag post.cover.q70.url if post.cover.present? %>

  <h2><%= link_to post.title, post %></h2>
  <p>Автор: <%= post.user.email %></p>
  <p>Категория: <%= post.category_list %></p>

  <p><%= post.body %></p>

  <p>
    Теги:
    <% post.tag_list.each do |tag| %>
      <%= link_to tag, by_tag_posts_path(tag) %>
    <% end %>
  </p>

  <%
    is_favourite = FavouritePost.where(user_id: current_user.id, post_id: post.id)
    favourite_link_text = is_favourite.any? ? "Unfavourite" : "Favourite"
  %>

  <p>
    <%= link_to favourite_link_text, toggle_favourite_post_path(post), data: { turbo_stream: true } %>
  </p>
</div>
