<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div>
  <%= link_to "All posts", posts_path %>
  
  <% Post.tag_counts_on(:categories).each do |tag| %>
    <%= link_to tag.name, by_tag_posts_path(tag.name) %>
  <% end %>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
